.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  height: 20rem;
}

.movieItem{
  border: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: 3px 3px 3px gray;
  background-color: rgba(250, 249, 249, 0.8);
  border-radius: 3px;
}

.movieItem:hover{
  transform: scale(1.2);
}
